venv
.env
__pycache__
node_modules
dist
.vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
services/server-chatbot/chroma_db/*.sqlite3
server/data/*.json
server/uploads
app/server/data/*.json
app/server/uploads
apps/client/dist
apps/server/data/*.json
apps/server/uploads
docs/
tools/
chroma_db
*.drawio.bkp