fastapi[standard]
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
langchain-chroma
langchain-google-genai
langchain-litellm
langgraph
litellm
chromadb
pypdf
docx2txt
python-pptx
uvicorn
httpx
