fastapi[standard]
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
langchain-chroma
langchain-google-genai
langchain-litellm
langgraph
chromadb
pypdf
docx2txt
uvicorn
httpx